In [14]:
#for connection to sql server
import pyodbc

In [15]:
#checking the drivers
pyodbc.drivers()

['ODBC Driver 17 for SQL Server']

In [16]:
#using connection string
conn=pyodbc.connect("Driver={ODBC Driver 17 for SQL Server};Server=localhost;Database=AdventureWorks2019;UID=SA;PWD=Chris;")

In [17]:
conn

In [18]:
# performing query
query="SELECT Name, CreditRating FROM Purchasing.Vendor WHERE CreditRating<3"

In [19]:
query

'SELECT Name, CreditRating FROM Purchasing.Vendor WHERE CreditRating<3'

In [20]:
#creating cursor to work with in the database
cursor=conn.cursor();

In [21]:
#execute query
cursor.execute(query)

In [22]:
#storing the results in a variable
data=cursor.fetchall()

In [23]:
print(data[:5])

[('Australia Bike Retailer', 1), ('Allenson Cycles', 2), ('Advanced Bicycles', 1), ('Trikes, Inc.', 2), ('Morgan Bike Accessories', 1)]

In [24]:
#closing the connection
cursor.close()

## Using Pymssql

In [60]:
import pymssql
from os import getenv

In [59]:
connection=pymssql.connect(host='localhost',user="SA",password="Chris",database="AdventureWorks2019")

In [68]:
# performing query
query="SELECT * FROM Purchasing.Vendor WHERE CreditRating<3"

In [69]:
cursor=connection.cursor()

In [70]:
#execute query
cursor.execute(query)

In [71]:
#fetching data
cursor.fetchall()

[(1492,
  'AUSTRALI0001',
  'Australia Bike Retailer',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 23, 0, 0)),
 (1494,
  'ALLENSON0001',
  'Allenson Cycles',
  2,
  True,
  True,
  None,
  datetime.datetime(2011, 4, 25, 0, 0)),
 (1496,
  'ADVANCED0001',
  'Advanced Bicycles',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 4, 25, 0, 0)),
 (1498,
  'TRIKES0001',
  'Trikes, Inc.',
  2,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 3, 0, 0)),
 (1500,
  'MORGANB0001',
  'Morgan Bike Accessories',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1502,
  'CYCLING0001',
  'Cycling Master',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1504,
  'CHICAGO0002',
  'Chicago Rent-All',
  2,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1506,
  'GREENWOO0001',
  'Greenwood Athletic Company',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1508,
  'COMPETE0001',
  'Compete Enterprises, Inc',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1510,
  'INTERNAT0001',
  'International',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1512,
  'LIGHTSP0001',
  'Light Speed',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 23, 0, 0)),
 (1514,
  'TRAINING0001',
  'Training Systems',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 3, 0, 0)),
 (1516,
  'GARDNER0001',
  'Gardner Touring Cycles',
  1,
  False,
  False,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1518,
  'INTERNAT0004',
  'International Trek Center',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1520,
  'G&KBI0001',
  'G & K Bicycle Corp.',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1522,
  'FIRSTNA0001',
  'First National Sport Co.',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1526,
  'INTERNAT0002',
  'International Bicycles',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1528,
  'IMAGEMA0001',
  'Image Makers Bike Center',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 3, 0, 0)),
 (1530,
  'COMFORT0001',
  'Comfort Road Bicycles',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1532,
  'KNOPFLER0001',
  'Knopfler Cycles',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 29, 0, 0)),
 (1534,
  'READYRE0001',
  'Ready Rentals',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1536,
  'CRUGERB0001',
  'Cruger Bike Company',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 17, 0, 0)),
 (1540,
  'BERGERON0001',
  'Bergeron Off-Roads',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 23, 0, 0)),
 (1542,
  'HILLSBI0001',
  "Hill's Bicycle Service",
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1544,
  'CIRCUIT0001',
  'Circuit Cycles',
  1,
  False,
  False,
  None,
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1546,
  'GREENLA0001',
  'Green Lake Bike Company',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 29, 0, 0)),
 (1552,
  'SPORTSH0001',
  'Sports House',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1554,
  'WESTAMER0001',
  'WestAmerica Bicycle Co.',
  1,
  False,
  True,
  None,
  datetime.datetime(2012, 2, 18, 0, 0)),
 (1556,
  'WESTJUN0001',
  'West Junction Cycles',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 18, 0, 0)),
 (1558,
  'MARSH0001',
  'Marsh',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 3, 0, 0)),
 (1560,
  'CAPITAL0001',
  'Capital Road Cycles',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1562,
  'NORSTAN0001',
  'Norstan Bike Hut',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1564,
  'ILLINOIS0001',
  'Illinois Trek & Clothing',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 23, 0, 0)),
 (1566,
  'BURNETT0001',
  'Burnett Road Warriors',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 23, 0, 0)),
 (1568,
  'CUSTOMF0001',
  'Custom Frames, Inc.',
  2,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 17, 0, 0)),
 (1570,
  'FIRSTRA0001',
  'First Rate Bicycles',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1572,
  'NATIONAL0001',
  'National Bike Association',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1574,
  'JEFFSSP0001',
  "Jeff's Sporting Goods",
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1576,
  'SUPERIOR0001',
  'Superior Bicycles',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 3, 0, 0)),
 (1578,
  'VISIONC0001',
  'Vision Cycles, Inc.',
  1,
  False,
  True,
  None,
  datetime.datetime(2012, 2, 18, 0, 0)),
 (1580,
  'LITWARE0001',
  'Litware, Inc.',
  1,
  True,
  True,
  'www.litwareinc.com/',
  datetime.datetime(2011, 4, 25, 0, 0)),
 (1586,
  'MITCHELL0001',
  'Mitchell Sports',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1588,
  'SIGNATUR0001',
  'Signature Cycles',
  2,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1590,
  'SUPERSAL0001',
  'SUPERSALES INC.',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 3, 0, 0)),
 (1592,
  'LINDELL0001',
  'Lindell',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 29, 0, 0)),
 (1594,
  'FITNESS0001',
  'Fitness Association',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 3, 0, 0)),
 (1596,
  'ADATUM0001',
  'A. Datum Corporation',
  1,
  True,
  True,
  'www.adatum.com/',
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1602,
  'BEAUMONT0001',
  'Beaumont Bikes',
  1,
  False,
  True,
  None,
  datetime.datetime(2011, 12, 23, 0, 0)),
 (1604,
  'BIKESAT0001',
  'Bike Satellite Inc.',
  1,
  False,
  True,
  None,
  datetime.datetime(2011, 12, 23, 0, 0)),
 (1606,
  'NORTHW0001',
  'Northwind Traders',
  1,
  True,
  True,
  'www.northwindtraders.com/',
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1608,
  'SPORTPL0001',
  'Sport Playground',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1610,
  'HYBRIDB0001',
  'Hybrid Bicycle Center',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1612,
  'MIDWEST0001',
  'Midwest Sport, Inc.',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1614,
  'RELIANCE0001',
  'Reliance Fitness, Inc.',
  2,
  False,
  False,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1616,
  'AURORAB0001',
  'Aurora Bike Center',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 5, 9, 0, 0)),
 (1618,
  'METROSP0001',
  'Metro Sport Equipment',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 29, 0, 0)),
 (1620,
  'LAKEWOOD0001',
  'Lakewood Bicycle',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 29, 0, 0)),
 (1622,
  'SPEEDCO0001',
  'Speed Corporation',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1624,
  'COMPETIT0001',
  'Competition Bike Training Systems',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1626,
  'HILLBIC0001',
  'Hill Bicycle Center',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1628,
  'BICYCLE0001',
  'Bicycle Specialists',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 23, 0, 0)),
 (1630,
  'INDIANA0001',
  'Indiana Bicycle Center',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1632,
  'SPORTFA0001',
  'Sport Fan Co.',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1634,
  'GMASKI0001',
  'GMA Ski & Bike',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 5, 9, 0, 0)),
 (1636,
  'INTEGRAT0001',
  'Integrated Sport Products',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 17, 0, 0)),
 (1638,
  'INLINEA0001',
  'Inline Accessories',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1640,
  'LEGENDC0001',
  'Legend Cycles',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1642,
  'ELECTRON0001',
  'Electronic Bike Co.',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1644,
  'INTERNAT0003',
  'International Sport Assoc.',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1646,
  'ELECTRON0002',
  'Electronic Bike Repair & Supplies',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 17, 0, 0)),
 (1648,
  'WIDEWOR0001',
  'Wide World Importers',
  2,
  True,
  True,
  'www.wideworldimporters.com/',
  datetime.datetime(2012, 1, 17, 0, 0)),
 (1650,
  'AMERICAN0001',
  'American Bicycles and Wheels',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 4, 25, 0, 0)),
 (1654,
  'AMERICAN0002',
  'American Bikes',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 5, 9, 0, 0)),
 (1656,
  'MOUNTAIN0001',
  'Mountain Works',
  1,
  False,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1658,
  'CROWLEY0001',
  'Crowley Sport',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1660,
  'MAGICCY0001',
  'Magic Cycles',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1664,
  'ANDERSON0001',
  "Anderson's Custom Bikes",
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 5, 9, 0, 0)),
 (1666,
  'LEAFRIV0001',
  'Leaf River Terrain',
  1,
  False,
  True,
  None,
  datetime.datetime(2012, 1, 29, 0, 0)),
 (1668,
  'TOURING0001',
  'Touring Equipment Center',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 3, 0, 0)),
 (1670,
  'HOLIDAY0001',
  'Holiday Skate & Cycle',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 3, 0, 0)),
 (1672,
  'EXPERTB0001',
  'Expert Bike Co',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1674,
  'VARSITY0001',
  'Varsity Sport Co.',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 18, 0, 0)),
 (1676,
  'TEAMATH0001',
  'Team Athletic Co.',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 3, 0, 0)),
 (1680,
  'JACKSON0001',
  'Jackson Authority',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 1, 25, 0, 0)),
 (1682,
  'PREMIER0001',
  'Premier Sport, Inc.',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1684,
  'PROFESSI0001',
  'Professional Athletic Consultants',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1686,
  'PROSPOR0001',
  'Pro Sport Industries',
  1,
  False,
  True,
  None,
  datetime.datetime(2012, 2, 2, 0, 0)),
 (1688,
  'WOODFIT0001',
  'Wood Fitness',
  1,
  True,
  True,
  None,
  datetime.datetime(2012, 2, 18, 0, 0)),
 (1690,
  'BLOOMING0001',
  'Bloomington Multisport',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 23, 0, 0)),
 (1692,
  'CARLSON0001',
  'Carlson Specialties',
  2,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1694,
  'COMPETE0002',
  'Compete, Inc.',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1696,
  'CHICAGO0001',
  'Chicago City Saddles',
  1,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 24, 0, 0)),
 (1698,
  'BUSINESS0001',
  'Business Equipment Center',
  2,
  True,
  True,
  None,
  datetime.datetime(2011, 12, 23, 0, 0))]

In [65]:
#commiting
connection.commit()

In [67]:
print(cursor.fetchone())

None

In [75]:
c=cursor.execute('select Name from Purchasing.Vendor')

### SQL ALCHEMY

In [25]:
import pyodbc#https://medium.com/@anushkamehra16/connecting-to-sql-database-using-sqlalchemy-in-python-2be2cf883f85
import sqlalchemy as sq
from sqlalchemy import create_engine
import pandas as pd

In [28]:
#!pip install psycopg2-binary

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.4 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.1

In [55]:
import pandas as pd #we use function to_sql()
import pydoc#to connect to mysql server
import os
import psycopg2
from sqlalchemy import create_engine#create connection objects
import re #to use regular expression
database_name = 'AdventureWorksDW2019'
mssqlserver_servername = 'laptopname' 
# Name of the SQL Server here. If you're working on your local machine, it's the name of your machine.

mssqlserver_uri = f"mssql+pyodbcdatabase_name = 'AdventureWorksDW2019'"
mssqlserver_servername = 'laptopname' # Name of the SQL Server here. If you're working on your local machine, it's the name of your machine.

mssqlserver_uri = f"mssql+pyodbc://{os.environ.get('SA')}:{os.environ.get('Chris')}@{mssqlserver_servername}/{database_name}?driver=ODBC Driver 17 for SQL Server"
mssqlserver_engine = create_engine(mssqlserver_uri)

postgres_uri = f"postgres+psycopg2://{os.environ.get('postgres')}:{os.environ.get('Christopher3698')}@localhost:5432/{'movedata'}"
postgres_engine = create_engine(postgres_uri)

In [46]:
from sqlalchemy import create_engine
import pandas as pd
Server='kreezy-Pro'
Database='AdventureWorks2019'
Driver='ODBC Driver 17 for SQL Server'
Username='SA'
Password='Chris'
Database_connection=f'mssql://{Username}:{Password}@{Server}/{Database}?driver={Driver}'

In [47]:
engine=create_engine(Database_connection)
connection=engine.connect()

In [51]:
data=pd.read_sql_query("select * FROM Purchasing.Vendor WHERE CreditRating<3",connection)

In [77]:
data.columns

Index(['BusinessEntityID', 'AccountNumber', 'Name', 'CreditRating',
       'PreferredVendorStatus', 'ActiveFlag', 'PurchasingWebServiceURL',
       'ModifiedDate'],
      dtype='object')

In [54]:
data.head()

,BusinessEntityID,AccountNumber,Name,CreditRating,PreferredVendorStatus,ActiveFlag,PurchasingWebServiceURL,ModifiedDate
0,1492,AUSTRALI0001,Australia Bike Retailer,1,True,True,None,2011-12-23
1,1494,ALLENSON0001,Allenson Cycles,2,True,True,None,2011-04-25
2,1496,ADVANCED0001,Advanced Bicycles,1,True,True,None,2011-04-25
3,1498,TRIKES0001,"Trikes, Inc.",2,True,True,None,2012-02-03
4,1500,MORGANB0001,Morgan Bike Accessories,1,True,True,None,2012-02-02

### Using the Psycopg

In [32]:


import psycopg



# conn = psycopg2.connect("dbname=suppliers port=5432 user=postgres password=postgres")

conn = psycopg.connect(host="localhost", port = 5432, dbname="movedata", user="postgres", password="Chris")

# Create a cursor object
cur = conn.cursor()

# A sample query of all data from the "vendors" table in the "suppliers" database
cur.execute("""SELECT * FROM custdatademo""")
query_results = cur.fetchall()
print(query_results)

# Close the cursor and connection to so the server can allocate
# bandwidth to other requests
cur.close()
conn.close()

[(1, 'elijahk', 'elijahkungu100@gmail.com', 'Sep 10 2021 10:36AM'), (2, 'chris', 'chrisu100@gmail.com', 'Sep 10 2021 10:36AM')]

In [40]:
print(cur.fetchone())

None